* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --green: #AFBE7D;
  --crem: #FEFAE0;
  --brown: #D4A373;
  --black: black;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  background: var(--black);
  background: var(--crem);
}

h1,
h2,
h3,
h4,
p,
a{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
}

.about{
  width: 94vw;
  margin: auto;
  height: 100vh;
  background: var(--crem);
  overflow: hidden;
}

.navbar{
  position: absolute;
  top: 0%;
  width: 94vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu{
  display: flex;
  justify-content: space-between;
}

.navbar-logo a{
  /* position: fixed;
  top: 1vh;
  left: 2.5vw; */
  font-size: 3em;
  font-weight: 800;
}

.navbar-logo a::after{
  content: " Breathe";
  font-size: 20px;
  font-weight: 500;
}

.navbar-settings{
  display: inline-flex;
}


.center h1{
  font-size: 12em;
  font-weight: 800;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.center h3{
  display: inline-flex;
  font-size: 4em;
  font-weight: 600;
}

.center p{
  width: 70vw;
  position: absolute;
  right: 2.5vw;
  text-align: right;
  font-size: 1.2em;
}
